<h1> Edit photo <%= @my_photo.id %></h1>

<form action="/update_photo/<%= @my_photo.id %>">
  <label for ="image_url">
  Image URL
</label>
  <input id="image_url" type="text" name="image_url" value="<%= @my_photo.source %>">
<label for ="the_caption">
  Caption
</label>
  <input id="the_caption" type="text" name="the_caption" value="<%= @my_photo.caption %>">

  <button>Update Photo</button>

</form>
