<h1> All Photos </h1>

<a href="/photos/new"> Add a new photo </a>

<% @list_of_photos.each do |a_photo| %>
<div class="thumbnail">
<img src="<%= a_photo.source %>">

<a class="btn btn-secondary btn-block">Show details</a>
<a class="btn btn-secondary btn-block" href="/photos/<%= @my_photo.id %>/edit"> Edit </a>
<a class="btn btn-secondary btn-block">Delete</a>
</div>
<% end %>
