<h1> Add a new photo </h1>

<form action="/create_photo">
<label for="image_url">
  Image URL
</label>
  <input id="image_url" type="text" name="image_url">
<label for ="the_caption">
  Caption
</lanel>
  <input id="the_source" type="text" name="the_caption">

  <button>Create Photo</button>

</form>
