<h1> Add a new photo </h1>

<form action="/create_photo">
<label for="the_source">
  Source
</label>
  <input type="text" name="the_source">
<label for ="the_caption">
  Caption
</lanel>
  <input type="text" name="the_caption">

  <button>Create Photo</button>

</form>
