<h1> Add a new photo </h1>

<form action="/create_photo">
<label for="the_source">
  Image URL
</label>
  <input id="the_source" type="text" name="the_source">
<label for ="the_caption">
  Caption
</lanel>
  <input id="the_caption" type="text" name="the_caption">

  <button>Create Photo</button>

</form>
