<h1> Add a new photo </h1>

<form action="http://localhost:3000/create_photo">
  <div>
    <label for="image_url">
      Image URL
    </label>
    <input id="image_url" type = "text" name="">
  </div>
  <div>
    <label for="caption">
      Caption
    </label>
    <input id="caption" type = "text" name="">
  </div>
  <button>Create Photo</button>
</form>
